*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size:small;
}
body{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.post{
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 30%;
    height: 90vh;
}

.post-header{
    height: 5%;
    display: flex;
    align-items: center;
    padding: 4% 1% 4% 4%;
}
.user{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 50%;
    justify-content: center;
}
.html-icon{
    height: 85%;
    width: fit-content;
    margin-right: 2%;
}
.puntos{
    margin-left: auto;
    height: 100%;
    width: fit-content;
}
.post-image img{
    width: 100%;
    height: 100%;
}
.post-image{
    height: 60%;
}
strong, .user{
    font-size: 90%;
}
.icons{
    padding: 3%;
    display: flex;
    justify-content: space-between;
}
.icons div svg{
    height:30px;
    width: fit-content;
    margin-right: 2px;
}
#guardar{
    height: 33px;
    width: fit-content;
}
.likes{
    margin: 3% 3% 6% 3%;
}
.description{
    margin: 3% 3% 6% 3%;
}